{% extends 'irfs/base.html' %}
{% block content%}


<!--    {%  if scoreval  %}-->
<!--    <form method="post" enctype="multipart/form-data" action="updateDataBase">-->
<!--    {% else %}-->

    <div class="accordion-wrapper">

	  <div class="accordion">
		<input type="checkbox" name="radio-a" id="check2">
		<label class="accordion-label" for="check2">CONNECTION PARAMETERS</label>
		<div class="accordion-content">
		  <form class="Form" name="form" role="form" method="post" enctype="multipart/form-data" action="dbconn_view">
			  {% csrf_token %}
				<div class="Form-title">INPUT CONNECTION PARAMETERS:<br></div>
					<div class="Form-sections">
						<div class="Form-section" style="width: 40%;">
                            <div class="Form-field">
								<label class="Form-label" for="db_section">Database type:</label>
                                <div class="Database-section" id="db_section">
                                    <label for="oracle" class="radio">
                                        <input type="radio" name="db" id="oracle" class="radio__input">
                                        <div class="radio__radio"></div>
                                        Oracle
                                    </label>
                                    <label for="mysql" class="radio">
                                        <input type="radio" name="db" id="mysql" class="radio__input">
                                        <div class="radio__radio"></div>
                                        MySql
                                    </label>
                                    <label for="mssql" class="radio">
                                        <input type="radio" name="db" id="mssql" class="radio__input">
                                        <div class="radio__radio"></div>
                                        MsSql
                                    </label>
                                    <label for="postgresql" class="radio">
                                        <input type="radio" name="db" id="postgresql" class="radio__input">
                                        <div class="radio__radio"></div>
                                        PostgreSql
                                    </label>
				                </div>
							</div>
							<div class="Form-field">
								<label class="Form-label" for="host">Host | Server:</label>
								<input class="Form-input" id="host" name="host" type="text">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="username">Username:</label>
								<input class="Form-input" id="username" name="username" type="text">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="password">Password:</label>
								<input class="Form-input" id="password" name="password" type="password">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="db_name">Database name | Service name:</label>
								<input class="Form-input" id="db_name" name="db_name" type="text">
							</div>
							{% if error %}
								{{ error }}
								<br />
								<br />
							{% elif success %}
								{{ success }}
								<br />
								<br />
							{% endif %}
						</div>
					</div>
					<div class="Form-buttonContainer">
						<button class="Form-button">CONNECT</button>
					</div>
          </form>
		</div>
	  </div>

<!--	  <div class="accordion">-->
<!--		<input type="checkbox" name="radio-a" id="check3">-->
<!--		<label class="accordion-label" for="check3">REPORT DATE</label>-->
<!--		<div class="accordion-content">-->
<!--		  <form class="Form" name="form" role="form" method="post" enctype="multipart/form-data" action="predictMPG">-->
<!--				<div class="Form-title">SELECT REPORT DATE:<br></div>-->
<!--					<div class="Form-sections">-->
<!--						<div class="Form-section">-->
<!--							<div class="Form-field">-->
<!--								<label class="Form-label" for="report_date">Report date:</label>-->
<!--								<input class="Form-input" id="report_date" name="report_date " type="date">-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div class="Form-buttonContainer">-->
<!--						<button class="Form-button">SUBMIT</button>-->
<!--					</div>-->
<!--          </form>-->
<!--		</div>-->
<!--	  </div>-->

	  <div class="accordion">
		<input type="checkbox" name="radio-a" id="check4">
		<label class="accordion-label" for="check4">GENERAL MACRO</label>
		<div class="accordion-content">
			<form class="Form" name="form" role="form" method="post" enctype="multipart/form-data" action="predictMPG">
			  {% csrf_token %}
				<div class="Form-title">INPUT TABLE PARAMETERS:<br></div>
					<div class="Form-sections">
						<div class="Form-section">
							<div class="Form-field">
								<label class="Form-label" for="repd_start">Report date start:</label>
								<input class="Form-input" id="repd_start" name="repd_start" type="date" value="2021-01-01">
							</div>
                        </div>
                        <div class="Form-section">
							<div class="Form-field">
								<label class="Form-label" for="repd_end">Report date end:</label>
								<input class="Form-input" id="repd_end" name="repd_end" type="date" value="2021-06-30">
							</div>
						</div>
					</div>
					<div class="Form-sections">
						<div class="Form-section">
							<div class="Form-field">
								<label class="Form-label" for="repd">Report date for the portfolio:</label>
								<input class="Form-input" id="repd" name="repd" type="text" value="ACT_DATE">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="resd">Date of restructuring:</label>
								<input class="Form-input" id="resd" name="resd" type="text" value="DATE_REST">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="st_date">Loan origination date:</label>
								<input class="Form-input" id="st_date" name="st_date" type="text" value="DATE_START">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="end_date">Contractual loan maturity date:</label>
								<input class="Form-input" id="end_date" name="end_date" type="text" value="DATE_END_CONTRACT">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="bthday">Date of birth:</label>
								<input class="Form-input" id="bthday" name="bthday" type="text" value="DATE_OF_BIRTH">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="dp">Days principal is past due:</label>
								<input class="Form-input" id="dp" name="dp" type="text" value="ESAS_OVER_DAYS">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="di">Days interest is past due:</label>
								<input class="Form-input" id="di" name="di" type="text" value="FAIZ_OVER_DAYS">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="anp_m">Normal principal amount in manats:</label>
								<input class="Form-input" id="anp_m" name="anp_m" type="text" value="ESAS_RESID_AZN">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="anp_c">Normal principal amount in currency:</label>
								<input class="Form-input" id="anp_c" name="anp_c" type="text" value="ESAS_RESID">
							</div>
						</div>
						<div class="Form-section">
							<div class="Form-field">
								<label class="Form-label" for="aop_m">Overdue principal amount in manats:</label>
								<input class="Form-input" id="aop_m" name="aop_m" type="text" value="VK_ESAS_QALIQ_AZN">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="aop_c">Overdue principal amount in currency:</label>
								<input class="Form-input" id="aop_c" name="aop_c" type="text" value="VK_ESAS_QALIQ">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="ani_m">Normal interest amount in manats:</label>
								<input class="Form-input" id="ani_m" name="ani_m" type="text">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="ani_c">Normal interest amount in currency:</label>
								<input class="Form-input" id="ani_c" name="ani_c" type="text"></div>
							<div class="Form-field">
								<label class="Form-label" for="aoi_m">Overdue interest amount in manats:</label>
								<input class="Form-input" id="aoi_m" name="aoi_m" type="text">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="aoi_c">Overdue interest amount in currency:</label>
								<input class="Form-input" id="aoi_c" name="aoi_c" type="text">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="aor_m">Original amount in manats:</label>
								<input class="Form-input" id="aor_m" name="aor_m" type="text" value="ESAS_INIT_AZN">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="aor_c">Original amount in currency:</label>
								<input class="Form-input" id="aor_c" name="aor_c" type="text" value="ESAS_INIT">
							</div>
						</div>
						<div class="Form-section">
							<div class="Form-field">
								<label class="Form-label" for="int_rate">Interest rate:</label>
								<input class="Form-input" id="int_rate" name="int_rate" type="text">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="id_l">Contract (loan) ID if any:</label>
								<input class="Form-input" id="id_l" name="id_l" type="text" value="KREDIT_HESABI">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="id_c">Client ID:</label>
								<input class="Form-input" id="id_c" name="id_c" type="text" value="KREDIT_HESABI">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="id_sub">Subaccount (order of loan):</label>
								<input class="Form-input" id="id_sub" name="id_sub" type="text" value="SUBHESAB">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="cid">Currency ID (or name):</label>
								<input class="Form-input" id="cid" name="cid" type="text" value="CURRENCY">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="pid">Product ID or name:</label>
								<input class="Form-input" id="pid" name="pid" type="text" value="FEA_KODU">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="ctype">Product ID or name:</label>
								<input class="Form-input" id="ctype" name="ctype" type="text" value="MUST_NOVU">
							</div>
							<div class="Form-field">
								<label class="Form-label" for="ptype">Product ID or name:</label>
								<input class="Form-input" id="ptype" name="ptype" type="text" value="ODEME_QAYDASI">
							</div>
<!--							<div class="Form-field">-->
<!--								<label class="Form-label" for="plist_cons">Product id or name list (consumer):</label>-->
<!--								<input class="Form-input" id="plist_cons" name="plist_cons" type="text" value="(01801, 02201, 02203, 02800, 02801, 02803, 02805)">-->
<!--							</div>-->
<!--							<div class="Form-field">-->
<!--								<label class="Form-label" for="plist_corp">Product id or name list (corporate):</label>-->
<!--								<input class="Form-input" id="plist_corp" name="plist_corp" type="text" value="(01801, 02201, 02203, 02800, 02801, 02803, 02805)">-->
<!--							</div>-->
<!--							<div class="Form-field">-->
<!--								<label class="Form-label" for="plist_sole">Product id or name list (sole):</label>-->
<!--								<input class="Form-input" id="plist_sole" name="plist_sole" type="text" value="(01801, 02201, 02203, 02800, 02801, 02803, 02805)">-->
<!--							</div>-->
							<div class="Form-field">
								<label class="Form-label" for="wrof">Write-off status column:</label>
								<input class="Form-input" id="wrof" name="wrof" type="text">
							</div>
						</div>
					</div>
					<div class="Form-buttonContainer">
						<button class="Form-button">Submit data</button>
					</div>
			</form>
		</div>
	  </div>
	</div>

<!-- {%  if scoreval  %}-->
<!-- <h1>The mpg score is {{scoreval}}</h1>-->
<!-- <h3>If the response is good. Do you want to save it in DB?-->
<!-- </h3>-->
<!-- <input type="hidden" id="lname" name="mpgVal" value={{scoreval}}>-->
<!-- <input type="submit" value="Submit" ></div>-->
<!-- {% else %}-->
<!-- <input type="submit" value="Submit" ></div>-->
<!-- {% endif %}-->

<!-- {% endif%}-->

    {% csrf_token %}
    {% endblock %}