<!DOCTYPE html>
<html lang="en">

<head>
    <title> Prediction: </title>
</head>
<body>

    {{a}}
    <h2> Check ... </h2>

    <h3>Please enter details:</h3>
    <br>
<!--    {%  if scoreval  %}-->
<!--    <form method="post" enctype="multipart/form-data" action="updateDataBase">-->
<!--    {% else %}-->
    <form method="post" enctype="multipart/form-data" action="predictMPG">
<!--    {% endif%}-->
 {% csrf_token %}
<!--  <div class="container">-->
 <div class="col-md-4 col-sm-4"><label for="fname">repd:</label> </div> <input name="dateoper" type="text" value=5><br><br>
 <div class="col-md-4 col-sm-4"><label for="fname">resd:</label> </div> <input name="restnew" type="text" value=2><br><br>
 <div class="col-md-4 col-sm-4"><label for="fname">st_date:</label> </div> <input name="dateopen" type="text" value=8><br><br>
 <div class="col-md-4 col-sm-4"><label for="fname">end_date:</label> </div> <input name="dateplancode" type="text" value=10><br><br>
 <div class="col-md-4 col-sm-4"><label for="fname">bthday:</label> </div> <input name="dateofbirth" type="text" value=15><br><br>
 <div class="col-md-4 col-sm-4"><label for="fname">dp:</label> </div> <input type="text" id="fname" name="overdueday" value=11><br><br>
 <div class="col-md-4 col-sm-4"><label for="lname">di:</label> </div> <input type="text" id="lname" name="interestoverdueday" value=13><br><br>
 <div class="col-md-4 col-sm-4"><label for="fname">anp_m:</label></div>  <input type="text" id="fname" name="summaazn" value=16><br><br>
 <div class="col-md-4 col-sm-4"><label for="lname">anp_c:</label> </div> <input type="text" id="lname" name="summa" value=45><br><br>
 <div class="col-md-4 col-sm-4"><label for="lname">aop_m:</label> </div> <input type="text" id="lname" name="summa19azn" value=21><br><br>
 <div class="col-md-4 col-sm-4"><label for="fname">aop_c:</label> </div> <input type="text" id="fname" name="summa19" value=20><br><br>
 <div class="col-md-4 col-sm-4"><label for="lname">ani_m:</label> </div> <input type="text" id="lname" name="procazn" value=19><br><br>
 <div class="col-md-4 col-sm-4"><label for="fname">ani_c:</label></div>  <input type="text" id="fname" name="proc" value=11><br><br>
 <div class="col-md-4 col-sm-4"><label for="lname">aoi_m:</label> </div> <input type="text" id="lname" name="procprosazn" value=4><br><br>
 <div class="col-md-4 col-sm-4"><label for="lname">aoi_c:</label> </div> <input type="text" id="lname" name="procpros" value=8><br><br>
 <div class="col-md-4 col-sm-4"><label for="fname">aor_m:</label> </div> <input type="text" id="fname" name="summakreazn" value=9><br><br>
 <div class="col-md-4 col-sm-4"><label for="lname">aor_c:</label> </div> <input type="text" id="lname" name="summakre" value=12><br><br>
 <div class="col-md-4 col-sm-4"><label for="fname">int_rate:</label></div>  <input type="text" id="fname" name="procstavkre" value=17><br><br>
 <div class="col-md-4 col-sm-4"><label for="lname">id_l:</label> </div> <input type="text" id="lname" name="kod1" value=11><br><br>
 <div class="col-md-4 col-sm-4"><label for="lname">id_c:</label> </div> <input type="text" id="lname" name="licschkre" value=1><br><br>
 <div class="col-md-4 col-sm-4"><label for="fname">id_sub:</label> </div> <input type="text" id="fname" name="subaccount" value=3><br><br>
 <div class="col-md-4 col-sm-4"><label for="lname">cid:</label> </div> <input type="text" id="lname" name="cid" value=2><br><br>
 <div class="col-md-4 col-sm-4"><label for="fname">pid:</label></div>  <input type="text" id="fname" name="pid" value=3><br><br>
 <div class="col-md-4 col-sm-4"><label for="lname">plist:</label> </div> <input type="text" id="lname" name="plist" value=11><br><br>
 <div class="col-md-4 col-sm-4"><label for="lname">wrof:</label> </div> <input type="text" id="lname" name="wrof" value=17><br><br>
 <br>
<!--  </div>-->
<!-- {%  if scoreval  %}-->
<!-- <h1>The mpg score is {{scoreval}}</h1>-->
<!-- <h3>If the response is good. Do you want to save it in DB?-->
<!-- </h3>-->
<!-- <input type="hidden" id="lname" name="mpgVal" value={{scoreval}}>-->
<!-- <input type="submit" value="Submit" ></div>-->
<!-- {% else %}-->
 <input type="submit" value="Submit" ></div>
<!-- {% endif %}-->

</form>
<br>

 <h1>The result score is {{result}}</h1>

</body>
</html>