{% extends 'irfs/base.html' %}
{% block content%}

    <div class="accordion-wrapper">
        <div class="accordion">
             <input type="checkbox" name="radio-a" id="check1">
                <label class="accordion-label" for="check1">P-LIST ADDITION FOR LGD</label>
                    <div class="accordion-content">
                        <form class="Form" name="form" role="form" method="post" enctype="multipart/form-data" action="lgd_plist_save">
                            {% csrf_token %}
                            <div class="plist_container">
<!--                                {% for code in lgd_plist.values %}-->
<!--                                <label class="p_label">{{code.name}}<br></label>-->
<!--                                <label class="p_label">{{code.product_code}}<br></label>-->
<!--                                {% endfor %}-->
                            </div>
                            <div class="Form-title">Add p-list as list:<br></div>
                                <div class="plist_container">
                                  <table class="_table" id="plist_table">
                                    <thead>
                                      <tr>
                                        <th>Name</th>
                                        <th width="70%">pList</th>
                                        <th width="50px" id="btn_brd">
                                          <div class="action_container">
                                            <button type="button" class="success" onclick="create_tr('table_body')">
                                              <i class="fa fa-plus"></i>
                                            </button>
                                          </div>
                                        </th>
                                      </tr>
                                    </thead>
                                    <tbody id="table_body">
                                    {% for lgd_pl_name, lgd_pl_code in lgd_list.items %}
                                      <tr>
                                        <td>
                                          <input type="text" class="form_control" name="lgd_client_name" placeholder="Consumer" value="{{lgd_pl_name}}">
                                        </td>
                                        <td>
                                          <input type="text" class="form_control" name="lgd_client_code" placeholder="18001, 18002, ..." value="{{lgd_pl_code}}">
                                        </td>
                                        <td id="btn_brd">
                                          <div class="action_container">
                                            <button type="button" class="danger" onclick="remove_tr(this)">
                                              <i class="fa fa-close"></i>
                                            </button>
                                          </div>
                                        </td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                                  </table>
                                </div>
                            {% if pl_success %}
								{{ pl_success }}
								<br />
								<br />
                            {% endif %}
                            <div class="Form-buttonContainer">
                                <button class="Form-button">ADD P-LIST</button>
                            </div>
                        </form>
                    </div>
        </div>

        <div class="accordion">
             <input type="checkbox" name="radio-a" id="check2">
                <label class="accordion-label" for="check2">RECOVERY PERIOD</label>
                    <div class="accordion-content">
                        <form class="Form" name="form" role="form" method="post" action="lgd">
                            {% csrf_token %}
                            <div class="Form-title">Add recovery period:<br></div>
                                <div class="Form-sections">
						            <div class="Form-section" style="width: 40%;">
                                        <div class="Form-field">
                                            <label class="Form-label" for="rec_per">Recovery period in month:</label>
								            <input class="Form-input" id="rec_per" name="rec_per" type="number">
                                        </div>
                                    </div>
                                </div>
                            <div class="Form-buttonContainer">
                                <button class="Form-button">SUBMIT</button>
                            </div>
                        </form>
                    </div>
        </div>
    </div>


{% endblock %}